.wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 6px;

    font-size: 24px;
    text-decoration: none;
    border: none;
    border-radius: 0rem;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--navigation-option-primary-outline);
    background-color: var(--navigation-option-primary);
    
    width: calc(100% - (2 * 0.4rem));
    padding: 0.2rem 0.4rem;
    margin: 0px;

    transition: border-radius 0.3s ease-in-out 0s,
                background-color 0.1s ease-in-out 0s;
}

@media (hover: hover) {
    .link:hover {
        border-radius: 0.4rem;
        outline-width: 1px;
        outline-color: var(--navigation-option-primary-outline);
        background-color: var(--navigation-option-primary-hover);
    }
}

.link:focus {
    border-radius: 0.4rem;
    outline-width: 2px;
    outline-color: var(--navigation-option-primary-outline);
    background-color: var(--navigation-option-primary-focus);
}

.link[data-highlighted |= "true"] {
    border-radius: 0.4rem;
    outline-width: 1px;
    outline-color: var(--navigation-option-primary-outline);
    background-color: var(--navigation-option-primary-focus);
}

.link:disabled {
    outline-width: 1px;
    outline-color: var(--navigation-option-primary-outline);
    background-color: var(--navigation-option-primary-disabled);
}

.symbol,
.text {
    color: var(--navigation-option-primary-text);
    font-size: inherit;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 0.4rem 0rem;
}

.text {
    font-family: Gabarito;
}
