.container {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}

.title {
    color: var(--text-primary);
    font-size: 1.6rem;
    font-family: Gabarito;
    font-weight: var(--text-bold-font-weight);
    text-wrap: wrap;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.separator {
    background-color: var(--outline-primary);

    width: 100%;
    height: 2px;
}