.container {
    display: flex;
    flex-direction: column;

    font-family: Gabarito;
    border-bottom: 1px solid var(--outline-primary);

    width: calc(100% - (2 * 0.6rem));
    height: min-content;
    padding: 0.6rem;
}

.row-one {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    align-items: center;
    gap: 0.6rem;

    width: 100%;
}

.row-one-right {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.4rem;

    width: 100%;
}

.row-two {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin: 0.2rem 0rem;
}

.content {
    color: var(--text-primary);
    text-align: start;
}

.row-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.view-likes-button,
.view-replies-button {
    color: var(--text-primary);
    font-family: Gabarito;
    border: none;
    background-color: transparent;

    width: auto;
    height: auto;
}

.view-likes-button:hover,
.view-likes-button:focus,
.view-replies-button:hover,
.view-replies-button:focus {
    cursor: pointer;
    text-decoration: underline;
}

.row-three-buttons {
    align-self: end;

    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.see-more-replies-button-wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
}

.likes-count,
.replies-count {
    color: var(--text-primary);
}

.likes-count > strong,
.replies-count > strong {
    font-weight: bold;
}

.row-five {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-bottom: 1px solid var(--outline-primary);

    padding-bottom: 0.6rem;
}

.replies {
    color: var(--text-tertiary);
    font-size: 1.1rem;

    padding: 0rem 0rem 0.6rem 1.6rem;
}

.reply{
    outline: none;
    border-left: 1px solid var(--outline-primary);
}