.container {
    display: flex;
    flex-direction: column;

    font-family: Gabarito;
    border-bottom: 1px solid var(--outline-primary);

    width: calc(100% - (2 * 0.6rem));
    height: min-content;
    padding: 0.6rem;
}

.row-one {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    align-items: center;
    gap: 0.6rem;

    width: 100%;
}

.row-one-right {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.4rem;

    width: 100%;
}

.row-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.6rem;

    margin: 0.2rem 0rem;
}

.text {
    color: var(--text-primary);
    text-align: start;
}

.images {
    display: grid;
    gap: 0.2rem;

    width: 100%;
    aspect-ratio: 1 / 1;
}

.images[data-image-quantity |= "1"] {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.images[data-image-quantity |= "2"] {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

.images[data-image-quantity |= "3"] {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.images[data-image-quantity |= "3"] > :nth-child(3) {
    grid-area: 2 / 1 / -1 / -1;
}

.images[data-image-quantity |= "4"] {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.image-container {
    border-radius: 8px;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.row-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.row-three-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0rem 1.2rem;
}

.view-likes-button,
.view-replies-button {
    color: var(--text-primary);
    font-family: Gabarito;
    border: none;
    background-color: transparent;

    width: auto;
    height: auto;
}

.view-likes-button:hover,
.view-likes-button:focus,
.view-replies-button:hover,
.view-replies-button:focus {
    cursor: pointer;
    text-decoration: underline;
}

.row-three-buttons {
    align-self: end;

    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.see-more-replies-button-wrapper {
    display: flex;
    justify-content: center;

    width: 100%;
}

.likes-count,
.replies-count {
    display: flex;
    gap: 0.3rem;

    color: var(--text-primary);
}

.likes-count > strong,
.replies-count > strong {
    font-weight: bold;
}

.row-five {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-bottom: 1px solid var(--outline-primary);

    width: 100%;
}

.replies {
    color: var(--text-tertiary);
    font-size: 1.1rem;

    padding: 0rem 0rem 0rem 1.6rem;
}

.reply {
    outline: none;
    border-left: 1px solid var(--outline-primary);
}

.see-more-replies-button-wrapper {
    padding: 0.6rem 0rem;
}

.error-message {
    color: var(--text-error);
    font-family: Gabarito;
    font-size: 1.1rem;
    font-weight: bold;
}