.container {
    display: grid;
    grid-template-columns: auto minmax(0, 100%) auto;
    align-items: center;
    gap: 0.6rem;

    font-size: 24px;
    text-decoration: none;
    border: none;
    border-radius: 0rem;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--chat-option-primary-outline);
    background-color: var(--chat-option-primary);

    width: 100%;
    height: auto;
    padding: 0.4rem;

    transition: border-radius 0.3s ease-in-out 0s,
                background-color 0.1s ease-in-out 0s;
}

.profile-image-container {
    border-radius: 50%;
    outline-width: 0px;
    outline-style: solid;
    outline-color: var(--chat-option-primary-image-outline);

    transition: outline-width 0.05s ease-in-out 0s;
}

@media (hover: hover) {
    .container:hover {
        border-radius: 0.4rem;
        outline-width: 1px;
        outline-color: var(--chat-option-primary-outline);
        background-color: var(--chat-option-primary-hover);

        cursor: pointer;
    }

    .container:hover .profile-image-container {
        outline-width: 3px;
    }
}

.container:focus {
    border-radius: 0.4rem;
    outline-width: 2px;
    outline-color: var(--chat-option-primary-outline);
    background-color: var(--chat-option-primary-focus);
}

.name-and-message-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.name {
    color: var(--chat-option-primary-text);
    font-family: Gabarito;
    font-size: 1.4rem;
    text-align: left;
    font-weight: var(--text-bold-font-weight);
}

.message {
    color: var(--chat-option-secondary-text);
    font-family: Gabarito;
    font-size: 1.1rem;
    text-align: left;
}

.error-message {
    color: var(--text-error);
    font-family: Gabarito;
    font-size: 0.9rem;
    font-weight: var(--text-bold-font-weight);
    text-align: left;
}