.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: calc(100% - (2 * 0.8rem));
    height: max-content;
    min-height: calc(calc(var(--vh, 1vh) * 100) - (2 * 0.8rem));
    padding: 0.8rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: max-content;
    max-width: 460px;
}

.error-message {
    color: var(--text-error);
    font-family: Gabarito;
    font-size: 1.1rem;
    font-weight: var(--text-bold-font-weight);
}

.alternate-login-container,
.guest-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.alternate-login-message,
.guest-login-message,
.create-account-message {
    color: var(--text-primary);
    font-family: Gabarito;
    font-size: 1.1rem;
}

.alternate-login-options {
    display: flex;
    justify-content: center;
    gap: 0.6rem;

    width: 100%;
}

.option-icon, .option-icon svg {
    fill: var(--text-primary);
    
    width: 2.4rem;
    height: 2.4rem;
}
.option-icon[aria-disabled |= "true"] svg {
    fill: var(--text-inactive);
}

.create-account-message > strong {
    font-weight: var(--text-bold-font-weight);
}