.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    height: 100%;
}

.create-account-message {
    color: var(--text-primary);
    font-size: 0.9rem;
    font-family: Gabarito;
}

.create-account-message > strong {
    font-weight: bold;
}