.wrapper {
    container-name: wrapper;
    container-type: inline-size;

    display: flex;
    flex-direction: column;

    background-color: var(--background-secondary);

    width: 100%;
    height: 100%;
    margin: auto;
}

.container {
    display: grid;

    width: 100%;
    height: 100%;
}

.scrollable-wrapper {
    position: relative;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: 100%;
    margin: 0rem;
}

.list {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 6px;

    list-style: none;

    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}