.container {
    position: relative;

    border-left: 1px solid var(--outline-primary);
    border-right: 1px solid var(--outline-primary);

    width: calc(100% - 1px); /* subtract for border */
    min-height: 100vh;
    height: 100%;
}

.create-new-post-button-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;

    width: 100%;
    height: 100%;
}

.create-new-post-button-container {
    position: sticky;
    top: 0;
    left: 0;

    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: end;

    width: 100%;
    height: calc(100vh - 20px);
}

.error-message {
    color: var(--text-error);
    font-family: Gabarito;
    font-size: 1.1rem;
    font-weight: bold;
}

.empty-message {
    color: var(--text-inactive);
    font-family: Gabarito;
    font-size: 1.4rem;
    font-weight: bold;
}

.error-message,
.empty-message {
    padding: 0.8rem 0.2rem;
}