.container {
    container-type: inline-size;

    display: grid;
    grid-template-columns: auto minmax(0, 100%);
    align-items: center;
    gap: 0.2rem;

    color: var(--input-text-invalid);
    border: none;
    border-radius: 9999px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--input-outline);
    background-color: var(--input-background);

    width: calc(100% - (2 * 0.2rem));
    padding: 0.2rem;
}

.container:hover {
    outline-width: 2px;
}

.input {
    color: var(--input-text);
    font-family: Gabarito;
    border-radius: 9999px;
    border: none;
    outline: none;
    background-color: inherit;

    width: calc(100% - (2 * 0.2rem));
    padding: 0.2rem;
}

.container[data-disabled |= "true"] {
    outline-color: transparent;
    background-color: rgba(200, 200, 200, 1.0);
}

.input:disabled {
    color: var(--input-text-disabled);
}

.input::placeholder {
    color: var(--input-placeholder);
}

.input:disabled::placeholder {
    color: var(--input-placeholder-disabled);
}