.container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.error-message {
    color: var(--text-error);
    font-family: Gabarito;
    font-size: 1.1rem;
    font-weight: bold;
    text-wrap:wrap;
}