.container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.message-box {
    display: grid;
    grid-template-columns: minmax(0, 100%) auto;
    grid-template-rows: repeat(2, auto);
    gap: 0.4rem;

    width: 100%;
    height: 100%;
}

.input-container {
    grid-area: 1 / 1 / -1 / 2;

    display: flex;
    flex-direction: column;

    background-color: transparent;
    border: none;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--outline-primary);
    border-radius: 1px;

    transition: border-radius 0.1s ease-in-out 0s,
}

.message-textarea {
    color: var(--text-primary);
    font-size: 1.1rem;
    font-family: Gabarito;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 0px;

    width: calc(100% - (2 * 0.6rem));
    height: calc(100% - (2 * 0.6rem));
    min-height: calc(5rem - (2 * 0.6rem));
    max-height: calc(7rem - (2 * 0.6rem));
    padding: 0.6rem;

    transition: background-color 0.15s ease-in-out 0s,
                min-height 0.1s ease-out 0s;
}

@media (hover: hover) {
    .input-container:hover {
        outline-width: 2px;
        border-radius: 4px;
    }

    .message-textarea:hover {
        background-color: rgba(255, 255, 255, 0.04);

        cursor: pointer;
    }
}

.message-textarea:focus {
    background-color: rgba(255, 255, 255, 0.04);

    min-height: 7rem;
    
    cursor: pointer;
}

.message-textarea::placeholder {
    font-family: Gabarito;
}

.message-textarea:disabled,
.message-textarea:disabled::placeholder {
    color: rgba(128, 128, 128, 0.5);
    outline-width: 1px;
    border-radius: 1px;
    background-color: rgba(128, 128, 128, 0.2);
    
    cursor: default;
}

.message-textarea:focus::placeholder {
    opacity: 0%;
}

.image-buttons-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3rem;

    border-top: 1px solid var(--outline-primary);

    padding: 0.4rem;
}

.send-options-container {
    grid-area: 1 / 2 / -1 / -1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.44rem;
}

.errors-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;

    padding: 0rem auto;
    margin: 0rem;
}

.submission-errors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}

.submission-errors-title {
    color: var(--text-primary);
    font-size: 0.9rem;
    font-family: Gabarito;
    font-weight: normal;
}

.error,
.submission-error {
    color: var(--text-error);
    font-size: 0.9rem;
    font-family: Gabarito;
    font-weight: normal;
}