.container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.message-box {
    display: grid;
    grid-template-columns: minmax(0, 100%) auto;
    grid-template-rows: repeat(2, auto);
    gap: 0.4rem;

    width: 100%;
    height: 100%;
}

.input-container {
    grid-area: 1 / 1 / -1 / 2;

    display: flex;
    flex-direction: column;

    background-color: transparent;
    border: none;
    outline-width: 1px;
    outline-style: solid;
    outline-color: var(--outline-primary);
    border-radius: 1px;

    transition: border-radius 0.1s ease-in-out 0s,
}

.input-container label {
    position: absolute;
    opacity: 0%;
}

.input-container h3 {
    width: calc(100% - (2 * 0.2rem));
    padding: 0.2rem;
}

.textarea-container textarea {
    color: var(--text-primary);
    font-size: 1.1rem;
    font-family: Gabarito;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 0px;

    width: calc(100% - (2 * 0.6rem));
    height: 4rem;
    min-height: calc(4rem - (2 * 0.6rem));
    max-height: calc(10rem - (2 * 0.6rem));
    padding: 0.6rem;

    transition: min-height 0.1s ease-out 0s;
}

@media (hover: hover) {
    .input-container:hover:not(.sending) {
        outline-width: 2px;
        border-radius: 4px;
    }

    .textarea-container textarea:hover {
        background-color: rgba(255, 255, 255, 0.04);

        cursor: pointer;
    }
}

.textarea-container textarea:focus {
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.04);

    min-height: calc(10rem - (2 * 0.6rem));
    
    cursor: pointer;
}

.textarea-container textarea::placeholder {
    font-family: Gabarito;
}

.textarea-container textarea:disabled,
.textarea-container textarea:disabled::placeholder {
    color: rgba(128, 128, 128, 0.5);
    outline-width: 1px;
    border-radius: 1px;
    
    cursor: default;
}

.textarea-container textarea:disabled {
    background-color: rgba(128, 128, 128, 0.2);
}

.textarea-container textarea:focus::placeholder {
    opacity: 0%;
}

.file-container,
.file-container > div,
.file-container > div > div {
    gap: 0rem;

    width: 100%;
}

.file-container button {
    position: relative;

    justify-self: end;

    padding: 0.4rem 0.2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

.file-container ul {
    border-top: 1px solid var(--outline-primary);

    width: calc(100% - (2 * 0.4rem));
    padding: 0.4rem;
}

.send-options-container {
    grid-area: 1 / 2 / -1 / -1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.44rem;
}

.submission-errors-title {
    color: var(--text-primary);
    font-size: 0.9rem;
    font-family: Gabarito;
    font-weight: normal;
}

.errors-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;

    padding: 0rem auto;
    margin: 0rem;
}

.error {
    color: var(--text-error);
    font-size: 0.9rem;
    font-family: Gabarito;
    font-weight: normal;
}