.container {
    position: relative;

    display: flex;
    flex-direction: column;
    
    border-left: 1px solid var(--outline-primary);
    border-right: 1px solid var(--outline-primary);

    width: calc(100% - 1px); /* subtract for border */
    min-height: 100vh;
    height: 100%;
}

.navigation-container {
    border-bottom: 1px solid var(--outline-primary);

    width: 100%;
}