.container {
    position: relative;

    border-left: 1px solid var(--outline-primary);
    border-right: 1px solid var(--outline-primary);

    width: calc(100% - 1px); /* subtract for border */
    min-height: calc(var(--vh, 1vh) * 100);
    height: 100%;
}

.chat-content-container {
    display: grid;
    grid-template-rows: auto 1fr auto auto;

    width: 100%;
    height: 100%;
}

.replying-to-container {
    display: grid;
    grid-template-columns: auto minmax(0, 100%);
    align-items: center;
    gap: 0.2rem;

    width: calc(100% - (2 * 0.4rem));
    height: calc(100% - 0.2rem);
    padding: 0.2rem 0.4rem 0rem 0.4rem;
}

.replying-to-string {
    color: var(--text-primary);
    font-family: Gabarito;
    font-size: 1.0rem;
    text-align: start;
}