.wrapper {
    container-name: wrapper;
    container-type: inline-size;
    
    position: relative;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    background-color: var(--background-secondary);
}

.container {
    position: absolute;

    width: 100%;
    height: 100%;
}
