.wrapper {
    container-name: wrapper;
    container-type: inline-size;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-secondary);
}
