.container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    width: 100%;
}

.selected-users {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0.4rem;

    border: none;
    outline: 1px solid var(--outline-primary);
    border-radius: 16px;

    width: calc(100% - (2 * 0.4rem));
    height: max-content;
    padding: 0.4rem;
}