.container {
    place-self: start;

    display: grid;
    grid-template-columns: minmax(0, 100%) auto;
    align-items: center;
    gap: 0.3rem;

    outline: 1px solid var(--outline-tertiary);
    border-radius: 9999px;
    background-color: var(--background-tertiary);

    width: max-content;
    max-width: calc(100% - (2 * 0.3rem));
    padding: 0.3rem 0.3rem 0.3rem 0.8rem;
}

.file-info {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(0, 100%);
    align-items: start;
    gap: 0.1rem;
}

.file-name {
    color: var(--text-secondary);
    font-family: Gabarito;
    font-weight: bold;
    text-align: left;
}

.file-size {
    color: var(--text-secondary);
    font-family: Rubik;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}