.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 500px;
    padding: 0.2rem;
}

.title {
    color: var(--text-primary);
    font-size: 1.6rem;
    font-family: Gabarito;
    font-weight: var(--text-bold-font-weight);
    text-align: center;

    width: 100%;
}

.error-message {
    color: var(--text-error);
    font-family: Gabarito;
    font-size: 1.1rem;
    font-weight: var(--text-bold-font-weight);
    text-wrap: wrap;
}

.add-users-button-container {
    align-self: center;
}