.container {
    position: relative;

    border-left: 1px solid var(--outline-primary);
    border-right: 1px solid var(--outline-primary);

    width: calc(100% - 1px); /* subtract for border */
    min-height: 100vh;
    height: 100%;
}

.create-new-chat-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.6rem;

    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: end;

    width: calc(100% - (2 * 0.4rem));
    height: auto;
    padding: 0.4rem;
}