@keyframes scale-in {
    from {
        opacity: 0%;
        transform: scale(40%);
    }
    to {
        opacity: 100%;
        transform: scale(100%);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    justify-content: center;

    width: 100%;
    height: min-content;
    padding: 0.6rem;

    opacity: 0%;
    transform: translateY(0.5rem);
    animation: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) 0.1s 1 normal forwards scale-in;
}

.wheel {
    border: 6px solid rgba(128, 128, 128, 0.9);
    border-top: 6px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;

    width: 40px;
    height: 40px;

    animation: spin 1.2s linear infinite;
}