.container {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    align-items: center;
    gap: 0.6rem;

    font-family: Gabarito;

    width: 100%;
}

.row-one-right {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;

    width: 100%;
}

.display-name-button,
.account-tag-button {
    place-self: start;

    pointer-events: auto;

    font-family: Gabarito;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: left;

    width: auto;
    max-width: 100%;
    padding: 0rem;
}

.display-name-button {
    color: var(--text-primary);
    font-size: 1.1rem;
    font-weight: var(--text-bold-font-weight);
}

.account-tag-button {
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.display-name-button:hover:not(:disabled),
.display-name-button:focus:not(:disabled),
.account-tag-button:hover:not(:disabled),
.account-tag-button:focus:not(:disabled) {
    cursor: pointer;

    text-decoration: underline;
}