.wrapper {
    width: 100%;
    height: auto;
}

.option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: auto;
}

.error-message {
    color: var(--text-error);
    font-family: Gabarito;
    font-size: 1.1rem;
    font-weight: var(--text-bold-font-weight);
    text-align: left;
}