.container {
    position: relative;

    border-top: 1px solid var(--outline-primary);

    margin-top: -1px;
}

.replies {
    border-left: 1px solid var(--outline-primary);

    margin-left: 6%;
}

.sticky-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;

    width: 100%;
    height: 100%;
}

.sticky-container {
    position: sticky;
    top: 0;
    left: 0;

    pointer-events: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100vh;
}

.error-message {
    color: var(--text-error);
    font-family: Gabarito;
    font-size: 1.1rem;
    font-weight: var(--text-bold-font-weight);
    
    border-bottom: 1px solid var(--outline-primary);
    background-color: var(--background-primary);
}

.empty-message {
    color: var(--text-inactive);
    font-family: Gabarito;
    font-size: 1.4rem;
    font-weight: var(--text-bold-font-weight);
}

.error-message,
.empty-message {
    padding: 0.8rem 0.2rem;
}