@keyframes menuZoom {
    from {
        opacity: 80%;
        transform: translateY(-4px);
    }
    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.container {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: min-content;
}