.wrapper {
    container-type: inline-size;

    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    width: 100%;
}

.input,
.input-error {
    font-family: Gabarito;
    border: none;
    border-radius: 2px;
    outline-width: 2px;
    outline-style: solid;

    width: 100%;
    max-width: 360px;
    padding: 0.2rem;

    transition: border-radius 0.25s ease-in-out 0s;
}

.input {
    color: var(--input-text);
    outline-color: var(--input-outline);
    background-color: var(--input-background);
}

.input-error {
    color: var(--input-text-invalid);
    outline-color: var(--input-outline-invalid);
    background-color: var(--input-background-invalid);
}

.input:hover:not(:disabled),
.input-error:hover:not(:disabled) {
    border-radius: 4px;
}

.input:focus,
.input-error:focus {
    border-radius: 8px;
}

.input:disabled,
.input-error:disabled {
    color: var(--input-text-disabled);
    outline-color: var(--input-outline-disabled);
    background-color: rgba(200, 200, 200, 1.0);
}

.input::placeholder {
    color: var(--input-placeholder);
}

.input-error::placeholder {
    color: var(--input-placeholder-invalid);
}

.input:disabled::placeholder,
.input-error:disabled::placeholder {
    color: var(--input-placeholder-disabled);
}

.input:disabled::placeholder {
    color: rgba(60, 60, 60, 1.0);
}

.error {
    color: var(--text-error);
    font-size: 0.7rem;
    font-family: Gabarito;
}